html, body {
    background: #eee;
    font-family: "Segoe UI", sans-serif;
    margin: 16px 32px;
}

.game-cell {
    background: #ddd;
    border: 1px solid #aaa;
    cursor: pointer;
    width: 64px;
    height: 64px;
}

/* Center content inside game cells. */
.game-cell > * {
    display: table;
    margin: 0 auto;
}

.game-number {
    font-size: 32px;
    font-weight: bold;
}