html {
    background: #eee;
    margin: 0 64px;
}

body {
    font-family: "Segoe UI", sans-serif;
}

h1 {
    font-size: 50px;
}

#game {
    border-spacing: 0;
    border-collapse: collapse;
    box-shadow: 0 0 16px 8px rgba(0, 0, 0, 0.25);
}

.game-cell {
    border: 1px solid #fff;
    cursor: pointer;
    width: 64px;
    height: 64px;
}

/* Center content inside game cells. */
.game-cell > * {
    display: table;
    margin: 0 auto;
}

.game-number {
    font-size: 32px;
    font-weight: bold;
}