{% extends 'LoisteMinesweeperBundle::base.html.twig' %}

{% block body %}

<h1>Minesweeper</h1>

<table id="game" data-route-make-move="{{ path('LoisteMinesweeperBundle_makeMove') }}">
    {% for row in 0..9 %}
    <tr>
        {% for column in 0..19 %}
        <td class="game-cell">
            {# Randomize what's in there... TODO: render the correct visual. #}
            {% set type = gameArea[row][column].type %}

            {% if type == constant('Loiste\\MinesweeperBundle\\Model\\GameObject::TYPE_NUMBER') %}
            <div class="game-number">3</div>
            {% endif %}

            {% if type == constant('Loiste\\MinesweeperBundle\\Model\\GameObject::TYPE_MINE') %}
            <img src="{{ asset('bundles/loisteminesweeper/images/mine.png') }}" />
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

{% endblock %}